.filtros {
    display: flex;
    flex-direction: column;
    padding: 0 1.25em;
}

.filter-input {
    display: flex;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 2em;
    box-shadow: var(--box-shadow-nav);
}

.filter-input button, .control-input {
    border: none;
    padding-left: 20px;
    background: var(--white);
    transition: var(--transition-delay);
}

.filter-input button {
    width: 60px;
}

.control-input {
    height: 50px;
    width: 100%;
    color: var(--color-search);
}

@media only screen and (min-width: 768px) {

    .filtros {
        flex-direction: row;
        justify-content: space-between;
    }

    .filter-input {
        width: 400px;
    }

}

@media only screen and (min-width: 1200px) {

    .filter-input {
        width: 550px;
        margin-bottom: 0;
    }

}

/* Contenedor de países */

.paises {
    padding-top: 3em;
    padding-bottom: 3em;
}

.contenedor-paises {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax( 270px, 1fr ) );
    justify-items: center;
    gap: 5em;
}

.pais {
    width: 270px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    background: var(--white);
    box-shadow: var(--box-shadow-nav);
    color: var(--base-text-color);
    transition: var(--transition-delay);
}

.pais-img img {
    width: 270px;
    height: 193px;
    object-fit: cover;
}

.info-pais {
    padding: 1.25em;
}

.info-pais h3 {
    font-weight: 800;
}

.info-det-pais {
    margin-top: 1em;
}

.info-det-pais p {
    margin: 0 0 .25em;
}

.info-det-pais span {
    font-weight: 600;
}